/* .timer {
  font-family: sans-serif;
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  font-size: 18px; */
  /* } */

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #858a8a;
  border: 3px solid #19b326;
  border-radius: 50px;
}
